body {
    background-image: url("../img/wuH1RBlvcc4z1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: black;
}

button:hover {
    background-color: skyblue;
    border-radius: 5px;
}

header {
    text-align: center;
}

#films {
    text-align: left;
    color: black;
    font-size: 24px;
}

#title {
    text-align: center;
    font-size: 26px;
    background-color: #4CAF50;
    color: white;
}

#myTable {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    width: 30%;
    height: 30%;
     padding: 20px;
     border: 1px solid black;
 }

tr:hover {
    border: rebeccapurple;
    background-color: rebeccapurple;
}